.nav-container
{
  background-color: #ec4899;
  color: white;
  display: flex;
 align-items: center;
 padding: 1rem;
 justify-content: space-between;
}
.nav-icons
{
  display: flex;
  gap: 1rem;

}
.product-list-container
{
  display: grid;
  grid-template-columns: 200px 1fr;
  margin-top: 1rem;
}
.product-image
{
  height: 17rem;
  width: 15rem;
}
.main-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:3rem;
}
.product-card-container
{
  
  padding: 1rem;
}
.add-to-cart-button
{
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-top:0.5rem;
  border: none;
  color: white;
  background-color: #ec4899;
  border-radius: 0.5rem;
}
.brand-details
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.aside-container
{
  margin-left:1rem;
}
.clear-filter
{
  cursor: pointer;
  color: #be123c;
  margin-left: 0.5rem;
}